[user]
	name = David Kuo
	email = s50407s@gmail.com
[alias]
	lg = !"git lg1"
	lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit
	lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)- %an%C(reset)' --abbrev-commit
[core]
	excludesfile = /Users/Davy/.gitignore_global
	whitespace = indent-with-non-tab, space-before-tab, trailing-space, cr-at-eol
[push]
	default = simple
