[user]
	name = David Kuo
	email = s50407s@gmail.com
[alias]
	lg = !"git lg1"
	ls = !"git ls1"
	ls1 = !"git lg1 --simplify-by-decoration"
	ls2 = !"git lg2 --simplify-by-decoration"
	lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)- %an%C(reset)%C(auto)%d%C(reset)' --abbrev-commit
	lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)- %an%C(reset)' --abbrev-commit
[core]
	excludesfile = ~/.gitignore_global
	whitespace = indent-with-non-tab, space-before-tab, trailing-space, cr-at-eol
	autocrlf = input
	pager = less -x2
[push]
	default = simple
[help]
	autocorrect = 1
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[rebase]
	autoStash = true
	autoSquash = true
[color "decorate"]
	HEAD = bold magenta
	branch = bold yellow
	remoteBranch = yellow
	stash = bold red
